# fly.toml app configuration file generated for yesterday-stories-server-trails on 2026-01-30T04:01:15Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'yesterday-stories-server-trails'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
